#mine
  #touchMine
    width: 50px
    height: 50px
    background-color: yellow
  ul>li
    span
      padding-right: 10px
    .add
      width: 100px
      background-color: indianred
      color: whitesmoke
#forge
  .forge
    width: 100px
    background-color: indianred
    color: whitesmoke